<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				On Advantages of Mask-Level Recognition for Outlier-Aware Segmentation.
			</span><br />
			<span class="authors">
				Matej Grcić, Josip Šarić, and Siniša Šegvić.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR) Workshops</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Densehybrid: Hybrid anomaly detection for dense open-set recognition.
			</span><br />
			<span class="authors">
				Matej Grcić, Petra Bevandić, and Siniša Šegvić.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Conference on Computer Vision</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Dense open-set recognition based on training with noisy negative images.
			</span><br />
			<span class="authors">
				Petra Bevandić, Ivan Krešo, Marin Oršić, and Siniša Šegvić.
			</span><br />
			<span class="venuetype"></span><span class="venue">Image and Vision Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
